<button class="btn btn-primary" (click)="Open()">เพิ่มข้อมูล</button>

<clr-datagrid>
    <clr-dg-column>ลำดับ</clr-dg-column>
    <clr-dg-column>ชื่อเมนู</clr-dg-column>
    <clr-dg-column>สถานะ</clr-dg-column>
    <clr-dg-row *ngFor="let x of allmenu">
        <clr-dg-action-overflow>
            <button class="btn btn-primary" (click)="editData(x)">แก้ไขข้อมูล</button>
            <button class="btn btn-success" (click)="delete(x)">ลบข้อมูล</button>
        </clr-dg-action-overflow>
        <clr-dg-cell>{{x.menu_id}}</clr-dg-cell>
        <clr-dg-cell>{{x.menu_name}}</clr-dg-cell>
        <clr-dg-cell>{{x.status}}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>{{allmenu.length}} เมนู</clr-dg-footer>
</clr-datagrid>
<clr-modal [(clrModalOpen)]="open">
    <h3 class="modal-title">From Menu </h3>
    <div class="modal-body">
        <form>
            <section class="form-block">
                <label>เพิ่ม/แก้ไข เมนูหลัก</label>
                <div class="form-group">
                    <label for="aForm_2">ชื่อเมนูหลัก</label>
                    <input type="text" name="menu_name" [(ngModel)]="menu_name" size="35">
                </div>
                <div class="form-group">
                    <label for="aForm_3">description</label>
                    <input type="text" name="description" [(ngModel)]="description" size="35">
                </div>
                <div class="form-group">
                    <label for="aForm_3">rout</label>
                    <input type="text" name="rout" [(ngModel)]="rout" size="35">
                </div>
                <div class="form-group">
                    <label for="aForm_4">สถานะ</label>
                    <!-- <input type="text" name="varitem_status" [(ngModel)]="varitem_status" size="35"> -->
                    <div class="select">
                        <select [(ngModel)]="status" name="status" id="status">
                            <option [value]="'0'">ปิดการใช้งาน</option>
                            <option [value]="'1'">เปิดการใช้งาน</option>
                        </select>
                    </div>
                </div>
            </section>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="open = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="save()">Ok</button>
    </div>
</clr-modal>