<!-- <clr-modal [(clrModalOpen)]="open">
    <h3 class="modal-title">From params </h3>
    <div class="modal-body">
        <form>
            <section class="form-block" *ngFor="let xx of param_xx; let idx = index;">
                <div class="form-group">
                    <label for="aForm_2">{{ xx }}</label>
                    <div *ngIf="xx == 'datestart' || xx == 'dateend'">
                        <input type="date" name="xx" id="xx" size="35" value="" #input (input)="KeyParam(xx,input,idx)">
                    </div>
                    <div *ngIf="xx !== 'datestart' && xx !== 'dateend'">
                        <input type="text" name="xx" id="xx" size="35" value="" #input (keyup)="KeyParam(xx,input,idx)">
                    </div>
                </div>
            </section>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="showParams()">Ok</button>
    </div>
</clr-modal> -->
<section class="form-block" *ngIf="params !==''">
    <h3 class="modal-title">From params </h3>
    <div class="modal-body">
        <form>
            <section class="form-block" *ngFor="let xx of param_xx; let idx = index;">
                <div class="form-group">
                    <label for="aForm_2">{{ xx }}</label>
                    <div *ngIf="xx == 'datestart' || xx == 'dateend'">
                        <input type="date" name="xx" id="xx" size="35" value="" #input (input)="KeyParam(xx,input,idx)">
                    </div>
                    <div *ngIf="xx !== 'datestart' && xx !== 'dateend'">
                        <input type="text" name="xx" id="xx" size="35" value="" #input (keyup)="KeyParam(xx,input,idx)">
                        <!-- <input type="text" name="xx" [(ngModel)]="xx" size="35"> -->
                    </div>
                </div>
            </section>
        </form>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" (click)="showParams()">Ok</button>
    </div>
</section>


<h2>รายงาน {{ title_name }}</h2>
<clr-datagrid>
    <clr-dg-column *ngFor="let f of fieldDatas"> {{f}}</clr-dg-column>
    <clr-dg-placeholder>ไม่พบรายการ</clr-dg-placeholder>
    <clr-dg-row *clrDgItems="let d of tableDatas">
        <clr-dg-cell *ngFor="let x of d; let idx=index;">
            {{ x }}
        </clr-dg-cell>
    </clr-dg-row>
</clr-datagrid>
