


<section class="form-block" *ngIf="params !== null">
    
    <div class="d-inline p-1 bg-primary text-white">ค้นหาข้อมูลตามเงื่อนไข</div>
    <div class="d-inline p-1 bg-info text-white">  รายงาน {{ title_name }}</div> 
    <div class="d-inline p-1 bg-ligh text-black" role="alert">
          Templete .............................................. 
          </div>
    
    <div class="modal-body">
       
       
        <form>
            <section class="form-block" *ngFor="let xx of param_xx; let idx = index;">
                <div class="form-group">
                    <label for="aForm_2">{{ xx }}</label>
                    <div *ngIf="xx == 'datestart' || xx == 'dateend'">
                        <input type="date" name="xx" id="xx" size="35" value="" #input (input)="KeyParam(xx,input,idx)">
                    </div>
                    <div class="select" *ngIf="xx == 'ampur'">
                        <select name="xx" id="xx" #input (input)="Paramampur(xx,input,idx,param_xx)">
                            <option [value]="''">---- เลือกอำเภอ ----</option>
                            <option [value]="am.amppart" *ngFor="let am of ampur">{{am.nameampur}}</option>
                        </select>
                    </div>

                    <div class="select" *ngIf="xx == 'cln'">
                        <select name="xx" id="xx" #input (input)="KeyParam(xx,input,idx)">
                            <option [value]="''">---- เลือกคลีนิค ----</option>
                            <option [value]="cn.cln" *ngFor="let cn of cln">{{cn.namecln}}</option>
                        </select>
                    </div>

                    <div class="select" *ngIf="xx == 'pcu'">
                        <select name="xx" id="xx" #input (input)="KeyParam(xx,input,idx)">
                            <option [value]="''">---- เลือกรพ. ส.ต. ----</option>
                            <option [value]="hos.hospsub" *ngFor="let hos of pcu ">{{hos.namehosp}}</option>
                        </select>
                    </div>

                    <div class="select" *ngIf="xx == 'idpm'">
                        <select name="xx" id="xx" #input (input)="KeyParam(xx,input,idx)">
                            <option [value]="''">---- เลือกตึกผู้ป่วยใน ----</option>
                            <option [value]="idm.idpm" *ngFor="let idm of idpm ">{{idm.nameidpm}}</option>
                        </select>
                    </div>




                    <div class="select" *ngIf="xx == 'month'">
                        <select name="xx" id="xx" #input (input)="KeyParam(xx,input,idx)">
                            <option [value]="''">---- เลือกเดือน ----</option>
                            <option [value]="'01'">มกราคม</option>
                            <option [value]="'02'">กุมภาพันธ์</option>
                            <option [value]="'03'">มีนาคม</option>
                            <option [value]="'04'">เมษายน</option>
                            <option [value]="'05'">พฤษภาคม</option>
                            <option [value]="'06'">มิถุนายน</option>
                            <option [value]="'07'">กรกฏาคม</option>
                            <option [value]="'08'">สิงหาคม</option>
                            <option [value]="'09'">กันยายน</option>
                            <option [value]="'10'">ตุลาคม</option>
                            <option [value]="'11'">พฤศจิกายน</option>
                            <option [value]="'12'">ธันวาคม</option>
                        </select>
                    </div>





                    <div class="select" *ngIf="xx == 'yearbudget'">
                        <select name="xx" id="xx" #input (input)="KeyParam(xx,input,idx)">
                            <option [value]="''">---- เลือกปี พ.ศ. ----</option>
                            <option [value]="'2018'">2561</option>
                            <option [value]="'2017'">2560</option>
                            <option [value]="'2016'">2559</option>
                            <option [value]="'2015'">2558</option>
                            <option [value]="'2014'">2557</option>
                            <option [value]="'2013'">2556</option>
                            <option [value]="'2012'">2555</option>
                            <option [value]="'2011'">2554</option>
                        </select>
                    </div>
                    <div *ngIf="xx !== 'datestart' && xx !== 'dateend' && xx !== 'month' && xx !== 'yearbudget' && xx !=='ampur'
                    && xx !=='cln'  && xx !=='pcu'  && xx !=='idpm'">
                        <input type="text" name="xx" id="xx" size="35" value="" #input (keyup)="KeyParam(xx,input,idx)">
                        <!-- <input type="text " name="xx " [(ngModel)]="xx " size="35 "> -->
                    </div>
                </div>
            </section>
        </form>
    </div>
    <div class="form-group ">
           
            <div class="form-group row">
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class=" btn btn-primary" (click)="showParams()">Ok</button>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <section class="form-block " *ngIf="fieldDatas !='' ">
                                    <button (click)="exportToExcel() " class="btn btn-warning">ส่งออก excel</button>
                                </section>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                       
                    </div>
                </div>
                  
      
    </div>
</section>
 
    
   

<clr-datagrid>
     
    <clr-dg-column class="alert alert-success"  *ngFor="let f of fieldDatas "> {{f}}</clr-dg-column> 
    <clr-dg-placeholder>ไม่พบรายการ</clr-dg-placeholder>
    <clr-dg-row *clrDgItems="let d of tableDatas ">
        <clr-dg-cell *ngFor="let x of d; let idx=index; ">
            {{ x }}
        </clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} rows
        <clr-dg-pagination #pagination [clrDgPageSize]="50 "></clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>