<h3>รายงานข้อมูล ณ. วันที่ {{ date | date }} </h3>
<h4>รายงานผู้มารับบริการงานผู้ป่วยนอก</h4>
<clr-datagrid>
    <clr-dg-column *ngFor="let n of todaymenu">{{n.name}}</clr-dg-column>
    <clr-dg-row *ngFor="let x of today">
        <clr-dg-cell *ngFor="let xx of todaymenu">{{xx.name}}</clr-dg-cell>
    </clr-dg-row>
</clr-datagrid>

<h4>รายงานผู้มารับบริการงานผู้ป่วยนอกวันนี้</h4>
<clr-datagrid>
    <clr-dg-column *ngFor="let x of todaytotalmenu">{{x.name}}</clr-dg-column>
    <clr-dg-row *ngFor="let x of todaytotal">
        <clr-dg-cell>{{x.Num}}</clr-dg-cell>
        <clr-dg-cell>{{x.namecln}}</clr-dg-cell>
        <clr-dg-cell>{{x.cln}}</clr-dg-cell>
        <clr-dg-cell>{{x.cns2}}</clr-dg-cell>
    </clr-dg-row>
</clr-datagrid>

<h4> รายงานผู้มารับบริการงานผู้ป่วยนอกแยกตามสิทธิ</h4>
<clr-datagrid>
    <clr-dg-column *ngFor="let x of todaytypemenu">{{x.name}}</clr-dg-column>
    <clr-dg-row *ngFor="let x of todaytype">
        <clr-dg-cell>{{x.Num}}</clr-dg-cell>
        <clr-dg-cell>{{x.icd10}}</clr-dg-cell>
        <clr-dg-cell>{{x.pttype}}</clr-dg-cell>
        <clr-dg-cell>{{x.inscl}}</clr-dg-cell>
        <clr-dg-cell>{{x.can}}</clr-dg-cell>
    </clr-dg-row>
</clr-datagrid>

<h4> รายงานจำนวนผู้ป่วยนอก แยกตาม ICD10 </h4>
<clr-datagrid>
    <clr-dg-column *ngFor="let x of opicdtmmenu">{{x.name}}</clr-dg-column>
    <clr-dg-row *ngFor="let x of opicdtm">
        <clr-dg-cell>{{x.Num}}</clr-dg-cell>
        <clr-dg-cell>{{x.ICD10}}</clr-dg-cell>
        <clr-dg-cell>{{x.ICD10NAME}}</clr-dg-cell>
        <clr-dg-cell>{{x.Total}}</clr-dg-cell>
    </clr-dg-row>
</clr-datagrid>
<h4> รายงานจำนวนผู้ป่วยห้องอุบัติเหตุฉุกเฉิน แยกตาม ICD10 </h4>
<clr-datagrid>
    <clr-dg-column *ngFor="let x of ericdtmmenu">{{x.name}}</clr-dg-column>
    <clr-dg-row *ngFor="let x of ericdtm">
        <clr-dg-cell>{{x.Num}}</clr-dg-cell>
        <clr-dg-cell>{{x.ICD10}}</clr-dg-cell>
        <clr-dg-cell>{{x.ICD10NAME}}</clr-dg-cell>
        <clr-dg-cell>{{x.Total}}</clr-dg-cell>
    </clr-dg-row>
</clr-datagrid>
<h4> รายงานจำนวนผู้ป่วยทัตกรรม แยกตาม ICD10 </h4>
<clr-datagrid>
    <clr-dg-column *ngFor="let x of dticdtmmenu">{{x.name}}</clr-dg-column>
    <clr-dg-row *ngFor="let x of dticdtm">
        <clr-dg-cell>{{x.Num}}</clr-dg-cell>
        <clr-dg-cell>{{x.ICD10}}</clr-dg-cell>
        <clr-dg-cell>{{x.ICD10NAME}}</clr-dg-cell>
        <clr-dg-cell>{{x.Total}}</clr-dg-cell>
    </clr-dg-row>
</clr-datagrid>
<h4> รายงานจำนวนผู้มารับบริการกับมารับบริการห้องฉุกเฉิน ด้วยโรคเดิมใน 24 ชั่วโมง</h4>
<clr-datagrid>
    <clr-dg-column *ngFor="let x of reviermenu">{{x.name}}</clr-dg-column>
    <clr-dg-row *ngFor="let x of revier">
        <clr-dg-cell>{{x.Num}}</clr-dg-cell>
        <clr-dg-cell>{{x.m}}</clr-dg-cell>
        <clr-dg-cell>{{x.ICD10NAME}}</clr-dg-cell>
        <clr-dg-cell>{{x.revisit}}</clr-dg-cell>
    </clr-dg-row>
</clr-datagrid>
<h4> รายงานจำนวนผู้มารับบริการตึกผู้ป่วยนอก Refer สิทธิ์ UCS </h4>
<clr-datagrid>
    <clr-dg-column *ngFor="let x of reopucmenu">{{x.name}}</clr-dg-column>
    <clr-dg-row *ngFor="let x of reopuc">
        <clr-dg-cell>{{x.Num}}</clr-dg-cell>
        <clr-dg-cell>{{x.month}}</clr-dg-cell>
        <clr-dg-cell>{{x.count}}</clr-dg-cell>
    </clr-dg-row>
</clr-datagrid>

<h2>ทดสอบ Dynamic Data</h2>
<clr-datagrid>
    <clr-dg-column *ngFor="let f of fieldDatas"> {{f}}</clr-dg-column>
    <clr-dg-placeholder>ไม่พบรายการ</clr-dg-placeholder>
    <clr-dg-row *clrDgItems="let d of tableDatas">
        <clr-dg-cell *ngFor="let x of d; let idx=index;">
            {{ x }}
        </clr-dg-cell>
    </clr-dg-row>
</clr-datagrid>